.title {
  display: flex;
}

.content {
  display: flex;
}

#title-text-div{
  flex: 1;
}

#title-logo-div {
  flex: 1;
}


#left {
  flex: 1;
}

#right {
  flex: 1;
}

.title {
  text-align: left;
}

.logo {
  display: block;
  margin: 0 auto; /* This will center the logo horizontally */
  width: 80%; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Add some margin between the logo and text */
}


.advanced-search-container {
    display: none;
  }

.advanced-form-group {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.alert-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #39ff14; /* Neon green for arrow color */
    cursor: pointer;
    text-decoration: none;
}
  
body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body.general {
  background-image: url("../images/background_neon_default.png");
}

body.running {
  background-image: url("../images/background_neon_sprinter.png");
}

body.boxing {
  background-image: url("../images/background_neon_boxer.png");
}

body.cycling {
  background-image: url("../images/background_neon_cyclist.png");
}

body.yoga {
  background-image: url("../images/background_neon_meditation.png");
}

body.gym {
  background-image: url("../images/background_neon_weightlifter.png");
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the overlay is behind the content */
}

/* Style for the checkboxes container */
.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px; /* Adjust the gap between checkboxes */
}

.id-column, .length-column {
  width: 10%; /* Adjust the width as needed */
  text-align: center;
}

.artist-column, .title-column {
  width: 40%; /* Adjust the width as needed */
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

.export-button {
    background-color: #198754; /* Darker green */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .export-button:hover {
    background-color: #145a32; /* Even darker green */
  } 
  
  .main-button:hover {
    background-color: #2980b9;
  }

/* Style for each checkbox label */
label {
    display: block;
    margin-bottom: 10px;
}

/* Apply the grid layout to the checkboxes */
input[type="checkbox"] {
    margin-right: 5px; /* Add some space between the checkbox and the label */
}

.container {
    position: fixed;
}

.container, .export-container {
  background-color: rgba(26, 26, 26, 0.8); /* Dark background color */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  top: 5vh;
  height: 80vh; /* Set a specific height, adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling within the container */
  left: 5%;
  max-width: 50%; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.fixed-headers {
  position: sticky;
  top: 0;
  background-color: rgba(26, 26, 26, 0.8); /* Dark background color with opacity */
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.container.fixed-container {
    overflow: hidden; /* Hide the scrollbar for the whole container */
  }

.table-container {
    max-height: 55vh; /* Set a specific height for the table container */
    overflow-y: auto; /* Enable vertical scrolling within the table container */
  }

.table-container::-webkit-scrollbar {
width: 8px; /* WebKit */
}

.table-container::-webkit-scrollbar-thumb {
background-color: #3498db; /* WebKit thumb color */
}

h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff; /* White color for form labels */
}

.playlist-table {
  max-height: 47%; /* Adjust the maximum height as needed */
  overflow-y: auto;
  table-layout: fixed; /* Fix the table layout */
  width: 100%; /* Make the table take full width */
}

.playlist-table th, .playlist-table td {
  padding: 8px;
  text-align: center;
}


.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2c3e50; /* Darker background for input */
    color: #ffffff; /* White text */
}


/* Style for the range input */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #636262, #ffffff);
    outline: none;
}

/* Change the appearance of the thumb/handle */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff; /* White color for the thumb */
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

/* Change thumb color on hover */
input[type="range"]::-webkit-slider-thumb:hover {
    background: #e6e6e6; /* Light grey color on hover */
}

/* Change thumb color on active state (while dragging) */
input[type="range"]:active::-webkit-slider-thumb {
    background: #cccccc; /* Darker grey color while dragging */
}

/* Style the value display next to the slider */
span#liked_songs_value {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff; /* White color for the value display */
}

label {
    padding: 5px;
}

.main-button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #40c528; /* Neon green */

}

.main-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.metro-btn {
    font-size: 1.5em; /* Decrease the font size */
    line-height: 1;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    padding: 2px 5px; /* Adjust padding for a smaller button */
    transition: background-color 0.3s;
    position: absolute;
    right: 20px; 
  }
  
  .metro-btn:hover {
    background-color: #2980b9;
  }
  

#explanation {
    font-size: 0.9rem;
    color: #6c757d; /* Grey color for explanation text */
    margin-bottom: 20px;
}

.title-text {
  text-align: left;
}

.remove {
    margin-left: 10px; 
    padding: 5px 10px;
    background-color: #ff5757; 
    color: #fff; 
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: auto;
    border-radius: 4px;
    cursor: pointer;
}

.remove:hover {
    background-color: #fb2e2e; 
}

#selectedList li {
    margin-bottom: 5px; /
  }

#genreList,
#selectedOptions {
margin-top: 10px; 
}

#selectedList li {
margin-bottom: 5px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #ecf0f1;
    table-layout: fixed;
    margin-bottom: 20px;
  }


  
  thead td {
    border-bottom: 2px solid #3498db;
    text-align: center;
    padding: 10px;
  }
  
  tbody td:nth-child(even) {
    background-color: #34495e; /* Add a background color for even cells */
  }
  
  tbody td:nth-child(odd) {
    background-color: #2c3e50; /* Add a background color for odd cells */
  }

  tbody td {
    border-bottom: 1px solid #bdc3c7;
    padding: 10px;
  }
  
  tbody tr:hover {
    background-color: #34495e;
  }
  
  #home-page-container {
    width: 33%;
  }

  #workout-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  #workout-options {
    margin-right: 20px; /* Adjust the margin as needed to create space between options */
  }

  .workout-option input {
    margin-right: 5px; /* Add some space between the radio button and the label */
  }


  #chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Optionally, set the height to 100% to fill the entire container */
  }