.advanced-search-container {
    display: none;
}

.advanced-form-group {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.alert-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #39ff14; /* Neon green for arrow color */
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../images/background_neon_sprinter.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #d3d3d3; /* Light grey for text */
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.export-button {
    background-color: #198754; /* Darker green */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.export-button:hover {
    background-color: #145a32; /* Even darker green */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff; /* White color for labels */
}

.container {
    background-color: #2a2b2b;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 5vh;
    left: 40px;
    height: 80vh;
    overflow-y: auto;
}

h1 {
    color: #39ff14; /* Neon green for headers */
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff; /* White color for form labels */
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2c3e50; /* Darker background for input */
    color: #ffffff; /* White text */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 80%;
    background: #9fa2a6; /* Adjusted to a medium grey for a more metallic base */
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb::after {
    content: '';
    display: block;
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 20%, rgba(200, 200, 200, 0.2) 50%, transparent 80%);
    border-radius: 50%;
    z-index: -1;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #b0b3b7; /* Lighter grey when hovered */
}

input[type="range"]:active::-webkit-slider-thumb {
    background: #8c8c8c; /* Darker grey when active */
}

.main-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #39ff14; /* Neon green */
}